<div class="author">
  <img
    class="author-avatar-lg"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  
  <p class="author-bio-ext">
    Hi, I'm <strong>Frank</strong>. I know a bit about creating world-class products and even developing them.
  </p>
  <p class="author-bio-ext">
    I'm a technology leader with over 15 years of experience in digital product strategy, management, and financial technology innovation. My passion lies in creating intuitive, smart, and frictionless digital experiences. At TradeStation, I led the transformation of the flagship options trading app, achieving a remarkable 100% year-over-year growth. This contributed $1M in monthly revenue and grew the app store's annual recurring revenue from zero to $4.3M in just two years. I also directed the modernization of the desktop platform UI, which resulted in a 50% increase in user retention and reduced onboarding costs.
  </p>
  <p class="author-bio-ext">
    Based out of Madrid, Spain since 2019, I previously lived in the US, growing up in Miami, Florida.
  </p>
  <p class="author-bio-ext">
  I aim to solve the biggest and most unique challenges by leveraging my experience in product innovation. With a proven track record in driving market-driven solutions, I'm adept at advising executives on technical risks and strategic growth.
  </p>
  <p class="author-bio-ext">
  In addition to my leadership expertise, I've worked as a software engineer and continue to code. I've built real-time analytics software for active traders, combining my technical skills with a deep understanding of financial markets.
  </p>
  <a href="" class="author-button"><i class="bi bi-envelope"></i></a>
  <a href="" class="author-button"><i class="bi bi-linkedin"></i></a>
  <a href="" class="author-button"><i class="bi bi-twitter-x"></i></a>
  <a href="" class="author-button"><i class="bi bi-whatsapp"></i></a>
</div>

<style>
  .author {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .author img {
    margin-bottom: 40px;
  }
</style>