<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  
  <a href="{{site.author.email}}" class="author-button"><i class="bi bi-envelope"></i></a>
  <a href="{{site.author.linkedin}}" class="author-button"><i class="bi bi-linkedin"></i></a>
  <a href="{{site.author.twitter}}" class="author-button"><i class="bi bi-twitter-x"></i></a>
  <a href="{{site.author.whatsapp}}" class="author-button"><i class="bi bi-whatsapp"></i></a>
</div>
